:root {
	--header-bg-color: #1b1b1b;
	--main-bg-color: #151515;
	--primary-color: #cea561;
	--primary-color-transparency: #cea561aa;
	--black-ligth: #151515;
	--body-color: #ffffff98;
	--card-bg-color: #2b2b2b;
	--error-color: #c21321;
}

body {
	margin: 0;
	font-family: Manrope;
	background-color: var(--main-bg-color);
	color: var(--body-color);
	overflow-x: hidden;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	font-family: Cormorant Garamond;
}

a {
	color: #fff;
	text-decoration: none;
}

button,
.submit,
.time-button {
	max-width: 200px;
	padding: 16px 10px;
	background-color: #0000;
	border: solid 1px var(--primary-color);
	border-radius: 12px;
	font-size: 1rem;
	color: #ececec;
	transition: all 0.2s;
	white-space: nowrap;
	cursor: pointer;
}
button:hover,
.time-button:hover {
	transform: scale(1.1);
	background-color: var(--primary-color);
	color: var(--black-ligth);
}

input:-webkit-autofill {
	-webkit-text-fill-color: #eee !important;
	transition: background-color 9999s ease-in-out 0s;
	box-shadow: 0 0 0px 1000px var(--card-bg-color) inset !important; /* este es el truco clave */
}

.flex-container {
	width: 95%;
	display: flex;
	gap: 24px;
}

.grid-container {
	display: grid;
}

/* Header */

header {
	font-size: 1.1rem;
	width: 100vw;
	background-color: #0000;
	position: absolute;
	top: 0;
}

/* Navbar */

.nav {
	max-width: 1300px;
	width: 95%;
	margin: auto;
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav ul {
	display: flex;
	gap: 32px;
}
.nav ul:last-child {
	gap: 24px;
}

.nav__logo {
	font-family: League Spartan;
	white-space: nowrap;
}
.nav__logo span:first-child {
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
		-1px 1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
	color: var(--header-bg-color);
	font-weight: 400;
}
.nav__logo span:last-child {
	font-weight: 100;
	color: var(--primary-color);
}

.nav__item {
	font-weight: 100;
	text-underline-offset: 4px;
	white-space: nowrap;
	color: #fff;
}
.nav__item:hover {
	text-decoration: underline;
}

.nav__item--home {
	color: var(--primary-color);
	text-decoration: underline;
}

.dropdown {
	position: relative;
}

.dropdown__items,
.nav .dropdown__items {
	box-sizing: border-box;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	background: var(--card-bg-color);
	border: solid 1px var(--primary-color);
	border-radius: 12px;
	list-style: none;
	padding: 16px 10px;
	width: 100%;
	min-width: 150px;
}
.dropdown__items li {
	margin-bottom: 4px;
	text-align: start;
}
.dropdown__items a {
	color: var(--body-color);
	font-weight: 300;
	font-size: 0.9rem;
}
.dropdown__items a:hover {
	color: #fff;
	text-decoration: underline;
}

.dropdown__element--selection {
	color: #fff;
	display: block;
	border-radius: 8px;
	transition: all 0.3s;
}
.dropdown__element--selection:hover {
	color: var(--black-ligth);
	background-color: var(--primary-color);
	padding: 4px 10px;
}

.dropdown__items .dropdown__element--link {
	color: #fff;
	transition: all 0.3s;
}
.dropdown__items .dropdown__element--link:hover {
	color: var(--primary-color);
	text-decoration: underline;
}

.search-container {
	display: flex;
	align-items: center;
}

#search-form {
	width: 100%;
	min-width: 34px;
	padding: 0;
}

#query {
	width: 90%;
	box-sizing: border-box;
	height: 34px;
	padding-left: 20px;
	position: relative;
	z-index: 9;
	left: -16px;
	border: none;
	border-radius: 0 24px 24px 0;
	background-color: var(--primary-color);
}
#query::placeholder {
	color: var(--black-ligth);
}
#query:focus {
	outline: none;
}

.user-info {
	background-color: var(--primary-color);
}

.user-info__sign {
	padding: 16px 32px;
	border-radius: 12px;
	color: var(--black-ligth);
	white-space: nowrap;
}

.user-info__img {
	display: block;
	width: 34px;
	height: 34px;
	border-radius: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}

.user-info__shop {
	background-image: url(../assets/images/shop-icon.svg);
}

.user-info__search {
	background-image: url(../assets/images/search-icon.svg);
	z-index: 10;
}

/* Titulo */

.title-section {
	box-sizing: border-box;
	background-color: var(--header-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* padding: 192px 0 192px 0; */
}
.div-align {
	max-width: 620px;
	text-align: center;
}
.title-container h2 {
	margin-bottom: 8px;
}
.title {
	color: #fff;
	margin: 0;
	font-size: 5em;
	font-weight: 500;
}
.title--service {
	font-size: 4rem;
}
.subtitle {
	margin: 0;
	font-size: 1.3rem;
	color: #ffffff77;
}
.title-section__background {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	max-width: 1320px;
	max-height: 516px;
	background-image: url('../assets/images/path182.svg'),
		url('../assets/images/path110.svg'), url('../assets/images/path114.svg'),
		url('../assets/images/path24.svg');
	background-position: 18% 30%, 51% 110%, 100% 87%, 2% 98%;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
	background-size: 13%, 6.7%, 26%, 12%;
	padding: 10% 0 10% 0;
}

/* Services */

.main-section {
	max-width: 1320px;
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	gap: 80px;
	text-align: center;
}

.services-container {
	width: 95%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 48px 24px;
}
.service__card {
	padding: 56px 0;
	border: solid 1px var(--primary-color);
	border-radius: 12px;
	text-align: center;
	font-family: Cormorant Garamond;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.service__card:hover {
	transform: scale(1.1);
}
.service__card p {
	margin: 0;
	font-weight: 300;
	max-width: 200px;
	margin: auto;
	font-size: 3.2rem;
}
.service__card img {
	width: 110px;
}
.service__card:last-child img {
	width: 74px;
}

/* Packages */

.package__card {
	border: solid 1px var(--primary-color);
	background-color: var(--card-bg-color);
	border-radius: 12px;
	padding: 48px 0;
	text-align: center;
	flex: 1;
}
.package__card h3,
.package__card h4,
.appointment-form h3 {
	font-family: Manrope;
	font-size: 2rem;
	font-weight: 400;
	color: #fff;
	margin: 0;
}

/* Appointment */

.package__card h4 {
	color: var(--body-color);
	font-weight: 500;
	font-size: 1.9rem;
	margin-top: 12px;
	margin-bottom: 32px;
}
.package__card span {
	font-size: 2.4rem;
	font-weight: 500;
	color: #fff;
}
.package__card ul {
	margin: auto;
	margin-bottom: 56px;
	text-align: start;
	max-width: 300px;
}
.package__card li {
	font-weight: 300;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
}
.package__card li::before {
	content: url(../assets/images/checkmark.svg);
	display: inline-block;
	height: 24px;
}

.appointment-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
	padding-bottom: 120px;
}
.appointment-form h3 {
	margin-bottom: 48px;
}

.buttons-container {
	max-width: 872px;
	margin-bottom: 72px;
}
.buttons-container input[type='radio'] {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
	pointer-events: none;
}
.buttons-container input[type='radio']:checked + .time-button {
	background: var(--primary-color);
	color: var(--black-ligth);
	transform: translateY(-1px) scale(1.01);
}

.appointment__inputs-container {
	width: 95%;
	grid-template-columns: 1fr 1fr;
	gap: 40px 24px;
}

.appointment__input {
	background-color: var(--card-bg-color);
	border: solid 1px #ffffff42;
	border-radius: 12px;
	padding: 24px 32px;
	font-size: 1.2rem;
	color: var(--body-color);
	transition: all 0.3s;
}
.appointment__input--service {
	cursor: pointer;
	box-sizing: border-box;
	width: 100%;
}
.appointment__input:hover,
.appointment__input--service:focus {
	background-color: var(--primary-color);
	border-color: #0000;
	color: var(--black-ligth);
	outline: none;
}
.appointment__input:hover::placeholder {
	color: var(--black-ligth);
}
.appointment__input[type='number'] {
	appearance: none;
	-moz-appearance: textfield;
}
.appointment__input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.select-container {
	padding: 0;
	display: flex;
	position: relative;
}
.select-container::after {
	content: '';
	position: absolute;
	right: 32px;
	top: 50%;
	width: 20px;
	height: 20px;
	background: url('../assets/images/DropDown.svg') no-repeat center;
	background-size: contain;
	transform: translateY(-50%);
	pointer-events: none;
}

.input--select {
	padding-left: 32px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	background-color: #0000;
	border: none;
	font-size: 1.2rem;
	color: var(--body-color);
}

.submit {
	margin-top: 48px;
	background-color: var(--primary-color);
	color: var(--black-ligth);
}
.submit:hover {
	transform: scale(1.1);
}

/* Calendario */

.calendar {
	width: 95%;
	max-width: 648px;
	padding: 16px 0;
	background-color: var(--card-bg-color);
	border: solid 1px var(--primary-color);
	border-radius: 13px;
	color: #ebebf542;
	margin-bottom: 72px;
}

.calendar__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px 13px 25px;
}

.head__title {
	font-weight: 600;
	color: #fff;
	position: relative;
}
.head__title::after {
	content: '';
	position: absolute;
	right: -12px;
	top: 50%;
	width: 6px;
	height: 11px;
	background: url('../assets/images/forward_arrow.svg') no-repeat center;
	background-size: cover;
	transform: translateY(-50%);
	pointer-events: none;
}

.head__year {
	font-size: 1.2rem;
	font-weight: 600;
	color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.head__buttons {
	width: 51px;
	display: flex;
	justify-content: space-between;
}

.head__buttons button {
	width: auto;
	padding: 0;
	border: none;
}
.head__buttons button:hover {
	background-color: #0000;
}
.head__buttons button:first-child .button--img {
	rotate: 180deg;
}

.button--img {
	width: 9px;
	height: 17px;
	background-color: var(--primary-color);
	-webkit-mask: url('../assets/images/forward_arrow.svg') no-repeat center;
	mask: url('../assets/images/forward_arrow.svg') no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

.disabled {
	cursor: default;
}
.disabled:hover {
	transform: none;
}
.disabled .button--img {
	background-color: var(--body-color);
}

.calendar__content {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: 1fr repeat(6, 2fr);
	place-items: center;
	gap: 6px;
}

.calendar__day {
	font-size: 0.8rem;
}

.calendar__num {
	font-size: 1.1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	transition: all 0.2s;
}
.calendar__num--upcoming {
	color: #fff;
	cursor: pointer;
}
.calendar__num--current {
	color: var(--primary-color);
	cursor: pointer;
}
.calendar__num--upcoming:hover,
.calendar__num--current:hover {
	color: #fff;
	background-color: var(--primary-color-transparency);
}
.calendar__num--selected {
	cursor: default;
	color: var(--card-bg-color);
	background-color: var(--primary-color);
}

/* Stay updated */

.updated-section {
	max-height: 468px;
	background-image: none;
	flex-direction: column;
	padding: 120px 0;
}

.updated-form {
	margin-top: 32px;
	width: 532px;
	position: relative;
}

.updated-input {
	padding: 16px 32px;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--main-bg-color);
}
.updated-input:hover {
	border-color: var(--body-color);
	background-color: var(--main-bg-color);
}
.updated-input:hover::placeholder {
	color: var(--body-color);
}

.updated-submit {
	width: 125px;
	padding: 16px;
	margin: 0;
	font-size: 1.2rem;
	position: absolute;
	top: 0;
	right: 0;
}

.contact-section {
	height: 450px;
	display: flex;
	justify-content: center;
	padding-top: 120px;
	gap: 112px;
}
.contact-section div:first-child {
	max-width: 340px;
}
.contact-section div p {
	margin-bottom: 32px;
}
.contact-section div h4 {
	font-family: Manrope;
	font-weight: 500;
	color: #fff;
	margin-bottom: 12px;
	margin-top: 0;
	font-size: 1.2rem;
}
.contact-section p,
.contact-section a {
	font-weight: 200;
	line-height: 1.5;
	color: var(--body-color);
}

.social-media {
	display: flex;
	gap: 109px;
}
.social-media ul {
	padding-left: 0;
	display: flex;
	margin-top: 0;
	gap: 32px;
}

.contact-section__ul {
	flex-direction: column;
	gap: 20px !important;
}

.about-us--container {
	padding-top: 20px;
	padding-left: 0;
	margin: 0;
}

.about-us--container li::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 4px;
	vertical-align: middle;
}
.about-us--container li:nth-child(1)::before {
	background-image: url(../assets/images/system-uicons_location.svg);
}
.about-us--container li:nth-child(2)::before {
	background-image: url(../assets/images/arcticons_phone.svg);
}
.about-us--container li:nth-child(3)::before {
	background-image: url(../assets/images/circum_mail.svg);
}
.about-us--container span {
	font-family: Cormorant Garamond;
	color: #fff;
	font-size: 1.2rem;
}
.about-us--container p {
	margin-top: 4px;
	margin-bottom: 20px !important;
	margin-left: 26px;
}

.copyright {
	padding: 32px;
	font-size: 0.73rem;
	font-weight: 200;
	text-align: center;
	border-top: solid 2px #ffffff42;
}

.error__span {
	color: var(--error-color);
	font-weight: 500;
	margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
	.nav .nav__items {
		display: none;
		flex-direction: column;
	}

	.social-media {
		display: none;
	}
}

@media screen and (max-width: 880px) {
	header {
		position: relative;
	}

	.nav {
		flex-direction: column;
		padding: 20px 0;
	}
	.nav ul {
		position: sticky;
		top: 0;
		box-sizing: border-box;
		width: 95%;
		padding: 0;
		justify-content: space-between;
	}

	.user-info__sign {
		padding: 0;
		border-radius: 100%;
		font-size: 0;
		display: block;
		width: 32px;
		height: 32px;
		background-position: center center;
		background-repeat: no-repeat;
		background-image: url(../assets/images/user-6767.svg);
		background-size: 20px;
	}

	.search-container {
		flex: 1;
	}
	#query {
		display: block !important;
		max-width: 100%;
	}

	.services-container {
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		gap: 2%;
	}
	.service__card {
		box-sizing: border-box;
		padding: 14px 0;
	}
	.service__card p {
		font-size: 1.4rem;
		margin-top: 10px;
		margin-bottom: 0;
	}
	.service__card img {
		width: 40%;
	}
	.service__card:last-child img {
		height: 40%;
	}

	.title-section {
		height: auto;
		/* padding: 20px; */
	}

	.main-section {
		padding: 40px 0;
		gap: 30px;
	}

	.package__container {
		width: 100%;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
		-webkit-overflow-scrolling: touch;
		scrollbar-width: none;
	}
	.package__container::-webkit-scrollbar {
		display: none; /* Chrome/Safari */
	}
	.package__card {
		flex: 0 0 80%;
		max-width: 400px;
		scroll-snap-align: start;
	}
	.package__card ul {
		padding-right: 40px;
	}

	.title {
		font-size: 3em;
	}
	.title-container p {
		margin: 0 10px;
		font-size: 1em;
	}

	.buttons-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px 10px;
	}
	.buttons-container button {
		width: auto;
	}

	.appointment__inputs-container {
		display: flex;
		flex-direction: column;
	}

	.updated-form {
		width: 95%;
	}

	.contact-section {
		padding: 0;
		height: auto;
		align-items: center;
		gap: 10px;
	}

	.social-media {
		display: none;
	}

	.appointment-form {
		padding-bottom: 0;
	}
}

@media screen and (max-width: 500px) {
	.contact-section div:first-child {
		display: none;
	}
	.contact-section {
		flex-direction: column;
	}
}
