:root {
	--header-bg-color: #1b1b1b;
	--main-bg-color: #151515;
	--primary-color: #cea561;
	--black-ligth: #151515;
	--body-color: #ffffff98;
}

body {
	margin: 0;
	font-family: Manrope;
	letter-spacing: 0.15%;
	background-color: var(--main-bg-color);
	color: var(--body-color);
	overflow-x: hidden;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	font-family: Cormorant Garamond;
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	font-size: 1.1rem;
	width: 100vw;
	background-color: #0000;
	position: absolute;
	top: 0;
}

.navbar {
	max-width: 1300px;
	width: 90%;
	margin: auto;
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 134px;
}
.navbar ul {
	display: flex;
	gap: 32px;
}
.navbar ul:last-child {
	gap: 24px;
}

.logo {
	font-family: League Spartan;
	white-space: nowrap;
}
.logo span:first-child {
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
		-1px 1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
	color: var(--header-bg-color);
	font-weight: 400;
}
.logo span:last-child {
	font-weight: 100;
	color: var(--primary-color);
}

.nav-item {
	font-weight: 100;
	text-underline-offset: 4px;
	white-space: nowrap;
}
.nav-item-home {
	color: var(--primary-color);
	text-decoration: underline;
}

.user-item {
	background-color: var(--primary-color);
}
.user-item--sign {
	padding: 16px 32px;
	border-radius: 12px;
	color: var(--black-ligth);
	white-space: nowrap;
}
.user-item--img {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.user-item--shop {
	background-image: url(../assets/images/shop-icon.svg);
}
.user-item--search {
	background-image: url(../assets/images/search-icon.svg);
}

.title-section {
	box-sizing: border-box;
	height: 516px;
	background-color: var(--header-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 192px 0 192px 0;
	background-image: url('../assets/images/path182.svg'),
		url('../assets/images/path110.svg'), url('../assets/images/path114.svg'),
		url('../assets/images/path24.svg');
	background-position: 495px 90px, 925px 386px, 1278px 200px, 308px 306px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
.title-container {
	max-width: 620px;
	text-align: center;
	/* margin: auto; */
}
.title-container h2 {
	margin-bottom: 8px;
}
.title {
	color: #fff;
	margin: 0;
	font-size: 5rem;
	font-weight: 500;
}
.subtitle {
	margin: 0;
	font-size: 1.3rem;
	color: #ffffff77;
}

.main-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	gap: 80px;
}
.title--service {
	font-size: 4rem;
}

.grid-container {
	max-width: 1320px;
	width: 95%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 48px 24px;
}

.service-card {
	padding: 56px 0;
	border: solid 1px var(--primary-color);
	border-radius: 12px;
	text-align: center;
	font-family: Cormorant Garamond;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.service-card p {
	margin: 0;
	font-weight: 300;
	max-width: 200px;
	margin: auto;
	font-size: 3.2rem;
}
.service-card img {
	width: 110px;
}
.service-card:last-child img {
	width: 74px;
}
