:root {
	--header-bg-color: #1b1b1b;
	--main-bg-color: #151515;
	--primary-color: #cea561;
	--primary-color-transparency: #cea561aa;
	--black-ligth: #151515;
	--body-color: #ffffff98;
	--card-bg-color: #2b2b2b;
}

body {
	margin: 0;
	font-family: Manrope;
	letter-spacing: 0.15;
	background-color: var(--main-bg-color);
	color: var(--body-color);
	overflow-x: hidden;
}

ul {
	list-style: none;
}

h2,
h3,
h4 {
	font-family: Cormorant Garamond;
}

a {
	color: #fff;
	text-decoration: none;
}

header {
	font-size: 1.1rem;
	width: 100vw;
	background-color: #0000;
	position: absolute;
	top: 0;
}

button,
.submit {
	width: 200px;
	padding: 16px 0;
	background-color: #0000;
	border: solid 1px var(--primary-color);
	border-radius: 12px;
	font-size: 1rem;
	color: #ececec;
	transition: all 0.2s;
	white-space: nowrap;
	cursor: pointer;
}
button:hover {
	transform: scale(1.1);
	background-color: var(--primary-color);
	color: var(--black-ligth);
}

.grid-container {
	display: grid;
}

.nav {
	max-width: 1300px;
	width: 90%;
	margin: auto;
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 134px;
}
.nav ul {
	display: flex;
	gap: 32px;
}
.nav ul:last-child {
	gap: 24px;
}

.nav__logo {
	font-family: League Spartan;
	white-space: nowrap;
}
.nav__logo span:first-child {
	text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
		-1px 1px 0 #fff, 0 1px 0 #fff, 0 -1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff;
	color: var(--header-bg-color);
	font-weight: 400;
}
.nav__logo span:last-child {
	font-weight: 100;
	color: var(--primary-color);
}

.nav__item {
	font-weight: 100;
	text-underline-offset: 4px;
	white-space: nowrap;
}
.nav__item--home {
	color: var(--primary-color);
	text-decoration: underline;
}

.dropdown {
	position: relative;
}

.dropdown__items {
	display: none !important;
	position: absolute;
	top: 110%;
	left: 0;
	background: var(--card-bg-color);
	border: solid 1px var(--primary-color);
	border-radius: 12px;
	list-style: none;
	padding: 16px 10px;
	min-width: 150px;
}
.dropdown__items li {
	margin-bottom: 4px;
}
.dropdown__items a {
	color: var(--body-color);
	font-weight: 300;
	font-size: 0.9rem;
}
.dropdown__items a:hover {
	color: #fff;
	text-decoration: underline;
}

.dropdown:hover .dropdown-items {
	display: block !important;
}

.user-info {
	background-color: var(--primary-color);
}
.user-info__sign {
	padding: 16px 32px;
	border-radius: 12px;
	color: var(--black-ligth);
	white-space: nowrap;
}
.user-info__img {
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 100%;
	background-position: center center;
	background-repeat: no-repeat;
}
.user-info__shop {
	background-image: url(../assets/images/shop-icon.svg);
}
.user-info__search {
	background-image: url(../assets/images/search-icon.svg);
}

.title-section {
	box-sizing: border-box;
	height: 516px;
	background-color: var(--header-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 192px 0 192px 0;
	background-image: url('../assets/images/path182.svg'),
		url('../assets/images/path110.svg'), url('../assets/images/path114.svg'),
		url('../assets/images/path24.svg');
	background-position: 495px 90px, 925px 386px, 1278px 200px, 308px 306px;
	background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
}
.div-align {
	max-width: 620px;
	text-align: center;
}
.title-container h2 {
	margin-bottom: 8px;
}
.title {
	color: #fff;
	margin: 0;
	font-size: 5rem;
	font-weight: 500;
}
.title--service {
	font-size: 4rem;
}
.subtitle {
	margin: 0;
	font-size: 1.3rem;
	color: #ffffff77;
}

.main-section {
	max-width: 1320px;
	display: flex;
	margin: auto;
	flex-direction: column;
	align-items: center;
	padding-top: 120px;
	gap: 80px;
	text-align: center;
}

.services-container {
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr 1fr;
	gap: 48px 24px;
}
.service__card {
	padding: 56px 0;
	border: solid 1px var(--primary-color);
	border-radius: 12px;
	text-align: center;
	font-family: Cormorant Garamond;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.service__card p {
	margin: 0;
	font-weight: 300;
	max-width: 200px;
	margin: auto;
	font-size: 3.2rem;
}
.service__card img {
	width: 110px;
}
.service__card:last-child img {
	width: 74px;
}

.flex-container {
	width: 100%;
	display: flex;
	gap: 24px;
}

.package__card {
	border: solid 1px var(--primary-color);
	background-color: var(--card-bg-color);
	border-radius: 12px;
	padding: 48px 0;
	text-align: center;
	flex: 1;
}
.package__card h3,
.package__card h4,
.appointment-form h3 {
	font-family: Manrope;
	font-size: 2rem;
	font-weight: 400;
	color: #fff;
	margin: 0;
}

.calendar {
	width: 95%;
	max-width: 648px;
	padding: 16px 0;
	background-color: var(--card-bg-color);
	border: solid 1px var(--primary-color);
	border-radius: 13px;
	color: #ebebf542;
	margin-bottom: 72px;
}

.calendar__head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 25px 13px 25px;
}

.head__title {
	font-weight: 600;
	color: #fff;
	position: relative;
}
.head__title::after {
	content: '';
	position: absolute;
	right: -12px;
	top: 50%;
	width: 6px;
	height: 11px;
	background: url('../assets/images/forward_arrow.svg') no-repeat center;
	background-size: cover;
	transform: translateY(-50%);
	pointer-events: none;
}

.head__buttons {
	width: 51px;
	display: flex;
	justify-content: space-between;
}

.head__buttons button {
	width: auto;
	padding: 0;
	border: none;
}
.head__buttons button:hover {
	background-color: #0000;
}
.head__buttons button:first-child .button--img {
	rotate: 180deg;
}

.button--img {
	width: 9px;
	height: 17px;
	background: url('../assets/images/forward_arrow.svg') no-repeat center;
	background-size: cover;
}

.calendar__content {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	place-items: center;
	gap: 6px;
}

.calendar__day {
	font-size: 0.8rem;
}

.calendar__num {
	font-size: 1.1rem;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	transition: all 0.2s;
}

.calendar__day--upcoming {
	color: #fff;
	cursor: pointer;
}
.calendar__day--upcoming:hover {
	background-color: var(--primary-color-transparency);
}
.calendar__day--selected {
	cursor: default;
	color: var(--card-bg-color);
	background-color: var(--primary-color);
}

.package__card h4 {
	color: var(--body-color);
	font-weight: 500;
	font-size: 1.9rem;
	margin-top: 12px;
	margin-bottom: 32px;
}
.package__card span {
	font-size: 2.4rem;
	font-weight: 500;
	color: #fff;
}
.package__card ul {
	margin: auto;
	margin-bottom: 56px;
	text-align: start;
	max-width: 300px;
}
.package__card li {
	font-weight: 300;
	display: flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 16px;
}
.package__card li::before {
	content: url(../assets/images/checkmark.svg);
	display: inline-block;
	height: 24px;
}

.appointment-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
}
.appointment-form h3 {
	margin-bottom: 48px;
}

.buttons-container {
	max-width: 872px;
	margin-bottom: 72px;
}
.appointment__inputs-container {
	width: 100%;
	grid-template-columns: 1fr 1fr;
	gap: 40px 24px;
}
.appointment__input {
	background-color: var(--card-bg-color);
	border: solid 1px #ffffff42;
	border-radius: 12px;
	padding: 24px 32px;
	font-size: 1.2rem;
	color: var(--body-color);
}

.select-container {
	padding: 0;
	display: flex;
	position: relative;
}
.input--select {
	padding-left: 32px;
	width: 100%;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	cursor: pointer;
	background-color: #0000;
	border: none;
	font-size: 1.2rem;
	color: var(--body-color);
}
.submit {
	margin-top: 48px;
	background-color: var(--primary-color);
	color: var(--black-ligth);
	margin-bottom: 120px;
}

.select-container::after {
	content: '';
	position: absolute;
	right: 32px;
	top: 50%;
	width: 20px;
	height: 20px;
	background: url('../assets/images/DropDown.svg') no-repeat center;
	background-size: contain;
	transform: translateY(-50%);
	pointer-events: none;
}

.updated-section {
	max-height: 468px;
	background-image: none;
	flex-direction: column;
}
.updated-form {
	margin-top: 32px;
	width: 532px;
	position: relative;
}
.updated-input {
	padding: 16px 32px;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--main-bg-color);
}
.updated-submit {
	width: 125px;
	padding: 16px;
	margin: 0;
	font-size: 1.2rem;
	position: absolute;
	top: 0;
	right: 0;
}

.contact-section {
	height: 450px;
	display: flex;
	justify-content: center;
	padding-top: 120px;
	gap: 112px;
}
.contact-section div:first-child {
	max-width: 340px;
}
.contact-section div h4 {
	font-family: Manrope;
	font-weight: 500;
	color: #fff;
	margin-bottom: 12px;
	margin-top: 0;
	font-size: 1.2rem;
}
.contact-section p,
.contact-section a {
	font-weight: 200;
	line-height: 1.5;
	color: var(--body-color);
}
.contact-section div p {
	margin-bottom: 32px;
}
.nav-social-media {
	display: flex;
	gap: 109px;
}
.nav-social-media ul {
	padding-left: 0;
	display: flex;
	margin-top: 0;
	gap: 32px;
}
.contact-section__ul {
	flex-direction: column;
	gap: 20px !important;
}
.about-us--container {
	padding-top: 20px;
	padding-left: 0;
	margin: 0;
}
.about-us--container li::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background-size: contain;
	background-repeat: no-repeat;
	margin-right: 4px;
	vertical-align: middle;
}
.about-us--container li:nth-child(1)::before {
	background-image: url(../assets/images/system-uicons_location.svg);
}
.about-us--container li:nth-child(2)::before {
	background-image: url(../assets/images/arcticons_phone.svg);
}
.about-us--container li:nth-child(3)::before {
	background-image: url(../assets/images/circum_mail.svg);
}
.about-us--container span {
	font-family: Cormorant Garamond;
	color: #fff;
	font-size: 1.2rem;
}
.about-us--container p {
	margin-top: 4px;
	margin-bottom: 20px !important;
	margin-left: 26px;
}

.copyright {
	padding: 32px;
	font-size: 0.73rem;
	font-weight: 200;
	text-align: center;
	border-top: solid 2px #ffffff42;
}
